{% extends 'base.html' %}
{% block title %}Manage Destination: {{ object.name }}{% endblock %}
{% block content_title %}Manage Destination: {{ object.name }}{% endblock %}
{% block content %}
  <p>{{ destination.description }}</p>
  <form method="post">{% csrf_token %}
    <table class="table">
      <thead>
        <tr>
          <th>Source Name</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      {% for obj in available_sources %}{% with obj.subclass as message_source %}
        <tr>
          <td>
            <input type="checkbox" name="ms_{{ message_source.id }}" {% if message_source in selected_sources %}checked{% endif %} />
            {{ message_source.name }}
          </td>
          <td>{{ message_source.type_detail }}</td>
          <td>{{ message_source.description }}</td>
        </tr>
      {% endwith %}{% endfor %}
    </table>
    <input type="submit" value="Submit" />
  </form>
{% endblock %}
