{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content_title %}Homepage{% endblock %}
{% block content %}
  <p>Welcome to Judge Announcements! This is Beta software, but if you're
  accessing this from https://announcements.magicjudges.org, you're welcome to
  test it and let us know what you think! Please send your suggestions to
  <a href="https://github.com/dcollinsn/judge-announcements">our GitHub site</a>,
  rather than to any other place. You probably want to log in (top right) and
  then try to connect or configure a Slack instance (left side menu).</p>
{% endblock %}
