{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content_title %}Homepage{% endblock %}
{% block content %}
  <p>Welcome to Judge Announcements! This is the configuration site for a
  bot that allows you to subscribe to many types of announcements related
  to the <a href="https://blogs.magicjudges.org/">Magic: the Gathering Judge Program</a>.
  You can log in using your JudgeApps account at the top
  right of this screen, and then link a Slack or Discord instance that you
  want to get announcements at. Then, you'll be able to choose what types
  of announcements (specific JudgeApps Forums, Judge Blogs, and more!) you
  want to see.</p>
  <p>This is in - we'll call it an Open Beta. If you're interested, you're
  welcome to test it and let us know what you think! Please send your
  suggestions to
  <a href="https://github.com/dcollinsn/judge-announcements">our GitHub site</a>,
  rather than to any other place. You probably want to log in (top right) and
  then try to connect or configure a Slack instance (left side menu).</p>
  <h2>Examples</h3>
  <div class="jumbotron">
    <div id="example-carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#example-carousel" data-slide-to="0" class="bg-dark active"></li>
        <li data-target="#example-carousel" data-slide-to="1" class="bg-dark"></li>
      </ol>
      <div class="carousel-inner" style="height: 360px">
        <div class="carousel-item text-center active">
          <img class="img-fluid rounded" src="/static/img/example_slack.png" alt="Example Slack Announcement">
        </div>
        <div class="carousel-item text-center">
          <img class="img-fluid rounded" src="/static/img/example_slack_forum.png" alt="Example Slack Announcement">
        </div>
      </div>
      <a class="carousel-control-prev" href="#example-carousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#example-carousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
{% endblock %}
