<header class="navbar navbar-expand navbar-dark flex-column flex-md-row ja-navbar">
  <a class="navbar-brand mr-0 mr-md-2" href="{% url 'home' %}">
    <b>Judge</b> | Announcements
  </a>
  <div class="navbar-nav flex-row">
    {% include 'announcements/nav-item.html' with path='home' text='Homepage' %}
    {% include 'announcements/nav-item.html' with path='site_status' text='Site Status' %}
    {% include 'announcements/nav-item.html' with path='admin:index' text='Admin' %}
  </div>
  {% if request.user.is_authenticated %}
    <ul class="navbar-nav flex-row ml-md-auto">
      <li class="nav-item nav-link">{{ request.user.get_full_name }}</li>
      <li class="nav-item">
        <a class="btn btn-ja-login d-inline-block mb-3 mb-md-0 ml-md-3" href="{% url 'logout' %}">
          Logout
        </a>
      </li>
    </ul>
  {% else %}
    <a class="btn btn-ja-login flex-row ml-md-auto" href="{% url 'oidc_authentication_init' %}">
      Login
    </a>
  {% endif %}
  <button class="navbar-nav btn btn-link d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#ja-nav" aria-controls="ja-nav" aria-expanded="true">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
  </button>
</header>
