<nav class="ja-sidebar-links collapse" id="ja-nav">
  <div class="ja-sidebar-link"><a href="{% url 'slack_connect' %}">
    <span class="fab fa-slack"></span>
    Connect a Slack
  </a></div>
  <div class="ja-sidebar-link"><a href="">
    <span class="fab fa-discord"></span>
    Connect a Discord
    <span class="text-beta">Coming Soon</span>
  </a></div>
  <div class="divider"></div>
  <div class="ja-sidebar-link"><a href="{% url 'destination_list' %}">
    Configure Notification Settings
  </a></div>
  <div class="divider"></div>
  {% if can_send_manual_announcements %}
    <div class="ja-sidebar-link"><a href="{% url 'create_announcement' %}">
      Send an Announcement
    </a></div>
    <div class="divider"></div>
  {% endif %}
  <div class="ja-sidebar-link"><a href="{% url 'terms' %}">
    Terms of Service
  </a></div>
  <div class="ja-sidebar-link"><a href="{% url 'privacy' %}">
    Privacy Policy
  </a></div>
  <div class="ja-sidebar-link"><a href="{% url 'support' %}">
    Support
  </a></div>
</nav>
