<nav class="ja-sidebar-links collapse show" id="ja-nav">
  <div class="ja-sidebar-link"><a href="{% url 'slack_connect' %}">
    <img src="/static/slack-icon.jpg" width="21px">
    Connect a Slack
  </a></div>
  <div class="ja-sidebar-link"><a href="">
    <img src="/static/discord-icon.png" width="21px">
    Connect a Discord
    <span class="text-beta">Coming Soon</span>
  </a></div>
  <div class="divider"></div>
  <div class="ja-sidebar-link"><a href="{% url 'destination_list' %}">
    Configure your Destinations
  </a></div>
</nav>
