{% extends 'base.html' %}
{% block title %}Slack Connect{% endblock %}
{% block content_title %}Slack Connect{% endblock %}
{% block content %}
  <p>You have successfully added your Slack instance, {{ destination.name }}.  Here is the list of users who can administer it:</p>
  <ul>
    {% for user in destination.admins.all %}
      <li>{{ user.username }}</li>
    {% endfor %}
  </ul>
  <p>Now, you need to configure what announcements you want to receive. None of the announcements are turned on by default! Please click on "Configure Notification Settings" on the main menu to configure some announcements.</p>
{% endblock %}
