{% extends 'base.html' %}
{% block title %}Support{% endblock %}
{% block content_title %}Support{% endblock %}
{% block content %}
  <p>If you have any questions or feedback about this site, you can contact
  the developers. Here are a few methods of doing so, depending on the type of
  support you need.</p>
  <dl>
    <dt>Help with the Slack integration</dt>
    <dd><a href="mailto:dcollins@batwing.tech">dcollins@batwing.tech</a></dd>
    <dt>Help logging in to this site</dt>
    <dd><a href="https://support.magicjudges.org">support.magicjudges.org</a></dd>
    <dt>Suggestions and Pull Requests</dt>
    <dd><a href="https://github.com/dcollinsn/judge-announcements/">github.com/dcollinsn/judge-announcements/</a></dd>
  </dl>
{% endblock %}
